on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
  build:
    name: Upload Release
    needs: create_release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - target: aarch64-unknown-none
          cc: gcc-aarch64-linux-gnu
        - target: x86_64-unknown-linux-gnu
          cc: gcc
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: |
          DOCKER_BUILDKIT=1 docker build --build-arg CC=${{ matrix.cc }} --build-arg TARGET=${{ matrix.target }} --build-arg HTTP_PROXY=${HTTP_PROXY} --build-arg HTTPS_PROXY=${HTTPS_PROXY} . -t chaos-mesh/tproxy
          docker run -v ${PWD}:/opt/mount:z --rm --entrypoint cp chaos-mesh/tproxy /tproxy /opt/mount/tproxy
          tar -czvf ./tproxy-${{ matrix.target }}.tar.gz ./tproxy
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }} 
          asset_path: ./tproxy-${{ matrix.target }}.tar.gz
          asset_name: tproxy-${{ matrix.target }}.tar.gz
          asset_content_type: application/zip
