name: Stable Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-06-01
          components: rustfmt, clippy
          target: wasm32-unknown-unknown
      - name: 
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Lint
        run: make lint
      - name: Build
        run: make build
      - name: Unit Test
        run: make test
      - name: Integration test
        run: |
          cd ./tests/
          cargo test
          python exec.py
