name: Stable Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-06-01
          components: rustfmt, clippy

      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Lint
        run: cargo clippy --all-targets -- -D warnings
      - name: Build
        run: cargo build --all --verbose
      - name: Test
        run: cargo test --all
      - name: Integration test
        run: |
          cd ./tests/
          cargo test
          python exec.py
